# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.spec

# Base de données locale
*.db
survols_conflans.db

# Fichiers générés
*.pdf
*.csv

# Environnement virtuel
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
